@use "../blocks/consts.scss";
@use "../blocks/mixins.scss";

.advantages__item {
  position: relative;

  @media (max-width: consts.$mobile-width-only) {
    margin-top: 33px;

    &:last-child {
      margin-bottom: 46px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 18.5px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &--housing::before {
    background-image: url("../img/sprite.svg#house-icon");

    @media (min-width: consts.$tablet-width) {
      width: 77px;
      height: 72px;
      top: 59px;
      left: calc(50% - 77px/2);
    }

    @media (min-width: consts.$desktop-width) {
      top: 69px;
    }
  }

  &--food::before {
    background-image: url("../img/sprite.svg#burger-icon");
    background-size: contain;

    @media (min-width: consts.$tablet-width) {
      width: 81px;
      height: 68px;
      top: 62px;
      left: calc(50% - 81px/2);
    }

    @media (min-width: consts.$desktop-width) {
      top: 72px;
    }
  }

  &--souvenir::before {
    background-image: url("../img/sprite.svg#gift-icon");

    @media (min-width: consts.$tablet-width) {
      width: 67px;
      height: 75px;
      top: 63px;
      left: calc(50% - 67px/2);
    }

    @media (min-width: consts.$desktop-width) {
      top: 69px;
    }
  }
}

.advantages__title {
  @include mixins.large-text;
  margin-top: 0;
  margin-left: 65px;
  margin-bottom: 16px;
  padding: 0;
  color: consts.$title-color;

  @media (min-width: consts.$tablet-width) {
    font-size: 21px;
    text-align: center;
    margin-bottom: 23px;
    margin-right: 33px;

    .advantages__item--housing & {
      padding-top: 158px;
      margin-left: 34px;
    }

    .advantages__item--food & {
      padding-top: 156px;
      margin-left: 34px;
    }

    .advantages__item--souvenir & {
      padding-top: 153px;
      margin-left: 32px;
    }
  }

  @media (min-width: consts.$desktop-width) {
    .advantages__item--housing & {
      padding-top: 171px;
    }

    .advantages__item--food & {
      padding-top: 168px;
      margin-left: 30px;
    }

    .advantages__item--souvenir & {
      padding-top: 171px;
      margin-left: 31px;
    }
  }
}

.advantages__description {
  margin: 0 18px 0 65px;
  padding: 0;
  min-height: 42px;

  @media (max-width: consts.$mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: consts.$tablet-width) {
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
    min-width: 190px;

    .advantages__item--housing & {
      margin-bottom: 60px;

      br {
        display: none;
      }
    }

    .advantages__item--food & {
      margin-bottom: 61px;
    }

    .advantages__item--souvenir & {
      margin-bottom: 64px;
    }
  }

  @media (min-width: consts.$desktop-width) {
    .advantages__item--housing & {
      br {
        display: inline;
      }

      margin-bottom: 69px;
    }
  }
}
