@use "./consts.scss";

.button {
  border: none;
  background-color: consts.$primary-color;
  text-decoration: none;
  color: consts.$secondary-text-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: consts.$primary-color-hover;
  }

  &:active {
    color: rgba(consts.$secondary-text-color, 0.3);
  }

  &--disabled {
    pointer-events: none;
    background-color: #e5e5e5;
  }
}
