.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__image {
  display: block;
  margin-bottom: 15px;
}

.card__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.card__author {
  margin: 0;
  text-transform: none;
  font-weight: 400;
}

.card__likes {
  margin-top: 11px;
}
