$primary-color: #81b3d2;
$primary-color-hover: #669ec0;

$primary-text-color: #333333;
$secondary-text-color: #ffffff;
$title-color: #000000;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767.9px;
$resolution-gap: 0.1px;
