@use "./consts.scss";

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: consts.$title-color;

  &:hover {
    color: consts.$primary-color;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__text {
  text-decoration: none;
  text-transform: uppercase;
}

.copyright__logo {
  width: 26.9px;
  height: 34.1px;
}
