.feature__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 11px;
  color: #000000;
}

.feature__advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.feature__number {
  margin: 0;
  margin-bottom: 17px;
}

.feature__description {
  margin: 0;
}

.feature__image {
  display: block;
}

.feature__text-block {
  background-color: #eeeeee;
  padding: 24px 26px;
  text-align: center;
}

.feature__text-block--accent {
  background-color: #81b3d2 color: #ffffff;
  padding: 37px 18px;
}

.feature__text-block--first {
  padding-top: 54px;
  padding-bottom: 40px;
}

.feature__text-block--last {
  padding-bottom: 28px;
}

.feature__text-block--accent .feature__title {
  color: #ffffff;
}
