@use "../blocks/consts.scss";
@use "../blocks/mixins.scss";

.features {
  text-transform: uppercase;
  padding-top: 34px;

  @media (min-width: consts.$tablet-width) {
    padding-top: 48px;
  }

  @media (min-width: consts.$desktop-width) {
    padding-top: 60px;
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: consts.$tablet-width) {
    align-items: center;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: consts.$tablet-width) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
  }

  @media (min-width: consts.$desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.features__item {
  position: relative;

  @media (max-width: consts.$mobile-width-only) {
    &:nth-last-child(-n+2)::before {
      position: absolute;
      content: "";
      width: 90%;
      height: 1px;
      top: 0;
      left: calc(50% - 90% / 2);
      background-color: #d6d6d6;
    }
  }

  @media (min-width: consts.$tablet-width) {
    display: grid;

    &--bridge .feature__image {
      order: 1;
    }

    &--bridge .feature__text-block {
      order: 2;
      grid-column: 3/4;
    }

    &--city,
    &--bridge {
      grid-column: 1 / 4;
      grid-template-columns: 256px 256px 256px;
    }
  }

  @media (min-width: consts.$desktop-width) {
    &--city,
    &--bridge {
      grid-column: 1 / 4;
      grid-template-columns: 400px 400px 400px;
    }
  }
}

.features__title {
  @include mixins.large-text;
  text-align: center;
  color: consts.$title-color;
  margin: 0 auto 35px;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 520px;
  min-height: 80px;

  @media (min-width: consts.$tablet-width) {
    font-size: 21px;
    margin-bottom: 1px;

    br {
      display: none;
    }
  }
}

.features__description {
  text-align: center;
  color: consts.$primary-text-color;
  margin: 0 18px 16px;

  @media (min-width: consts.$tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: consts.$desktop-width) {
    margin-bottom: 44px;
  }
}
