@use "../blocks/consts.scss";
@use "../blocks/mixins.scss";

.features {
  text-transform: uppercase;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: consts.$tablet-width) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
  }

  @media (min-width: consts.$desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.features__item {
  position: relative;

  @media (max-width: consts.$mobile-width-only) {
    &:nth-last-child(-n+2)::before {
      position: absolute;
      content: "";
      width: 90%;
      height: 1px;
      top: 0;
      left: calc(50% - 90% / 2);
      background-color: #d6d6d6;
    }
  }

  @media (min-width: consts.$tablet-width) {
    display: grid;

    &--second .feature__image {
      order: 1;
    }

    &--second .feature__text-block {
      order: 2;
    }

    &--first,
    &--second {
      grid-column: 1 / 4;
      grid-template-columns: 256px 256px 256px;
    }
  }

  @media (min-width: consts.$desktop-width) {
    &--first,
    &--second {
      grid-column: 1 / 4;
      grid-template-columns: 400px 400px 400px;
    }
  }
}

.features__title {
  @include mixins.large-text;
  text-align: center;
  color: consts.$title-color;
  margin-top: 34px;
  margin-bottom: 35px;

  @media (min-width: consts.$tablet-width) {
    font-size: 21px;
    margin-top: 48px;
    margin-bottom: 29px;

    br:first-child {
      display: none;
    }
  }

  @media (min-width: consts.$desktop-width) {
    margin-top: 60px;
  }
}

.features__description {
  text-align: center;
  color: consts.$primary-text-color;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: consts.$tablet-width) {
    margin-bottom: 55px;

    br {
      display: none;
    }
  }

  @media (min-width: consts.$desktop-width) {
    margin-bottom: 44px;
  }
}
