@use "../blocks/consts.scss";

.feature__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 11px;
  color: consts.$title-color;
}

.feature__advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.feature__number {
  margin: 0;
  margin-bottom: 17px;
}

.feature__description {
  margin: 0;
}

.feature__image {
  display: block;
}

.feature__text-block {
  background-color: #eeeeee;
  padding: 24px 26px;
  text-align: center;

  &--accent {
    background-color: #81b3d2;
    color: consts.$secondary-text-color;
    padding: 37px 18px;
  }

  &--accent .feature__title {
    color: consts.$secondary-text-color;
  }

  &--first {
    padding-top: 54px;
    padding-bottom: 40px;
  }

  &--last {
    padding-bottom: 28px;
  }
}

