@use "../blocks/consts.scss";

.features {
  text-transform: uppercase;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: consts.$title-color;
  margin: 32px 18px 35px;
}

.features__description {
  text-align: center;
  color: consts.$primary-text-color;
  margin: 0 18px 32px;
}
