@use "../blocks/consts.scss";
@use "../blocks/mixins.scss";

.form-container {
  margin-top: 36px;

  @media (max-width: consts.$mobile-width-only) {
    max-width: calc(consts.$tablet-width - consts.$resolution-gap);
    padding-bottom: 0;
  }

  @media (min-width: consts.$tablet-width) {
    margin-top: 64px;
    margin-bottom: 46px;
  }

  @media (min-width: consts.$desktop-width) {
    margin-top: 115px;
    margin-left: 120px;
    margin-right: 120px;
  }
}

.form-container__title {
  @include mixins.large-text;
  text-align: center;
  text-transform: uppercase;
  color: consts.$title-color;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: consts.$tablet-width) {
    font-size: 30px;
    margin-bottom: 20px;
  }

  @media (min-width: consts.$desktop-width) {
    margin-bottom: 30px;
  }
}

.form-container__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 53px;

  @media (min-width: consts.$tablet-width) {
    line-height: 24px;
    margin-bottom: 102px;
  }

  @media (min-width: consts.$desktop-width) {
    line-height: 21px;
    margin-bottom: 71px;
  }

  @media (max-width: 480px) {
    br {
      display: none;
    }
  }
}
