@use "../blocks/consts.scss";
@use "../blocks/mixins.scss";

.form-container__title {
  @include mixins.large-text;
  text-align: center;
  text-transform: uppercase;
  color: consts.$title-color;
  margin: 0;
  margin-bottom: 24px;
}

.form-container__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 53px;
}
