@use "../blocks/consts.scss";

.form-container__title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: consts.$title-color;
  margin: 0;
  margin-bottom: 24px;
}

.form-container__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 53px;
}
