@use "../blocks/consts.scss";

.hashtag__text {
  margin-top: 29px;
  margin-bottom: 33px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: consts.$title-color;
}
