@use "../blocks/mixins.scss";
@use "../blocks/consts.scss";

.main-header {
  position: relative;
}

.main-header__logo-img {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;

  &--nojs {
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: consts.$tablet-width) {
    z-index: 10;
  }
}
