@use "../blocks/consts.scss";

.main-map {
  margin-bottom: 40px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: consts.$tablet-width) {
    padding-bottom: 30px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: consts.$desktop-width) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
