@use "../blocks/mixins.scss";

.main-header {
  position: relative;
}

.main-header__logo-img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}
