@use "../blocks/consts.scss";

.main-map {
  padding-bottom: 39px;

  @media (min-width: consts.$tablet-width) {
    padding-bottom: 36px;
  }
}

.main-map__image {
  display: block;
  margin: 0 auto;
}
