@use "../blocks/consts.scss";

.order {
  text-transform: uppercase;
  text-align: center;
}

.order__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 38px 29px 20px;
  padding: 0;
  color: consts.$title-color;
}

.order__description {
  margin: 0 29px 32px;
}

.order__button {
  display: block;
  padding: 16px 49px;
  margin: 0 18px 49px;
}
