@use "../blocks/consts.scss";

.order {
  text-transform: uppercase;
  text-align: center;
}

.order__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 40px 29px 20px;
  padding: 0;
  color: consts.$title-color;

  @media (min-width: consts.$tablet-width) {
    font-size: 30px;
    margin-top: 61px;
    margin-bottom: 30px;
  }
}

.order__description {
  margin: 0 29px 32px;

  @media (max-width: consts.$mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: consts.$tablet-width) {
    margin-bottom: 43px;
  }
}

.order__button {
  display: block;
  box-sizing: border-box;
  padding: 16px 49px;
  margin: 0 18px 49px;
  max-width: 458px;

  @media (min-width: consts.$tablet-width) {
    margin: 0 auto 58px;
    padding: 14.5px 121px 17.5px;
  }
}
