@use "../blocks/consts.scss";

.page {
  height: 100%;
}

.page__body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: consts.$primary-text-color;
  min-width: 320px;
  margin: 0;
}

.page__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100%;
  max-width: 320px;

  @media (min-width: consts.$tablet-width) {
    max-width: 768px;
  }

  @media (min-width: consts.$desktop-width) {
    max-width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
