@use "../blocks/consts.scss";

.page-container {
  position: relative;
  flex-grow: 1;
}

.page-container__wrapper {
  padding: 0 20px 24px;

  @media (max-width: consts.$mobile-width-only) {
    margin: 0 auto;
    max-width: 560px;
  }

  @media (min-width: consts.$tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 37px 60px 71px;
  }

  @media (min-width: consts.$desktop-width) {
    margin-bottom: 114px;
    margin-left: 0;
    margin-right: 0;
  }
}
