@use "./consts.scss";

.page-hero {
  text-align: center;
}

.page-hero__image-container {
  position: relative;
  background-color: #81b3d3;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: consts.$mobile-width + 100px) {
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: consts.$tablet-width + consts.$resolution-gap) {
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

  &::before {
    position: absolute;
    width: 100%;
    height: 57px;
    content: "";
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    object-fit: contain;
    bottom: 0;
    left: 0;
  }
}

.page-hero__image {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 67px;
  color: #ffffff;
  height: 12vw;
  width: 71vw;
  max-width: 457px;
  max-height: 77px;

  @media (min-width: consts.$tablet-width) {
    padding-top: 95px;
    padding-bottom: 117.4px;
    width: 457px;
    height: 77.6px;
  }

  @media (min-width: consts.$desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
    width: 459.5px;
    height: 79.8px;
  }
}
