@use "../blocks/consts.scss";

.page {
  height: 100%;
}

.page__body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: consts.$primary-text-color;
  min-width: 320px;
  margin: 0;
}

.page__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 1200px;
  min-height: 100%;
}
