@use "../blocks/consts.scss";
@use "../blocks/mixins.scss";

.photos {
  padding-top: 37px;
  padding-bottom: 45px;

  @media (min-width: consts.$tablet-width) {
    padding-top: 30px;
  }

  @media (min-width: consts.$desktop-width) {
    padding-top: 63px;
    padding-bottom: 48px;
  }
}

.photos__text-block {
  text-align: center;
  margin-bottom: 63px;

  @media (min-width: consts.$tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: consts.$desktop-width) {
    margin-bottom: 89px;
  }
}

.photos__title {
  @include mixins.large-text;
  text-transform: uppercase;
  color: consts.$title-color;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: consts.$tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.photos__description {
  text-transform: uppercase;
  margin: 0;

  @media (max-width: consts.$mobile-width-only) {
    br {
      display: none;
    }
  }
}

.photos__list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  @media (min-width: consts.$tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: consts.$desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.photos__item {
  position: relative;
  margin: 50px 0;

  @media (max-width: consts.$mobile-width-only) {
    &::before {
      position: absolute;
      content: "";
      top: -24px;
      height: 1px;
      width: 100%;
      margin: 0 calc(-50vw + 50%);
      background-color: #e5e5e5;
    }

    &:last-child::after {
      position: absolute;
      content: "";
      bottom: -27px;
      height: 1px;
      width: 320px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: consts.$tablet-width) {
    margin: 0;

    &:nth-child(2n+1):not(:first-child) {
      background-color: #eaeaea;
    }
  }

  &:first-child {
    margin-top: 0;

    @media (min-width: consts.$tablet-width) {
      grid-column: 1 / -1;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
