.photos__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.photos__description {
  text-transform: uppercase;
  margin: 0;
}

.photos__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
