@use "../blocks/consts.scss";
@use "../blocks/mixins.scss";

.photos__title {
  @include mixins.large-text;
  text-transform: uppercase;
  color: consts.$title-color;
  margin: 0;
  margin-bottom: 25px;
}

.photos__description {
  text-transform: uppercase;
  margin: 0;
}

.photos__list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 43px;
  padding: 0;

  @media (min-width: consts.$tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: consts.$desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.photos__text-block {
  text-align: center;
  margin: 37px 20px 50px;
}

.photos__item {
  margin: 50px 20px;

  &:first-child {
    margin-top: 0;

    @media (min-width: consts.$tablet-width) {
      grid-column: 1 / -1;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
