@use "./consts.scss";

.social__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 6px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: consts.$primary-color;
  width: 48px;
  height: 48px;

  &:hover {
    background-color: consts.$primary-color-hover;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 12px;

  &:active .social__logo {
    opacity: 0.3;
  }
}

.social__logo {
  fill: consts.$secondary-text-color;
}
