@use "../blocks/consts.scss";
@use "../blocks/mixins.scss";

.video__title {
  @include mixins.large-text;
  text-align: center;
  text-transform: uppercase;
  color: consts.$title-color;
  margin: 0 6px 27px 8px;

  @media (min-width: consts.$tablet-width) {
    font-size: 30px;
    margin-top: 11px;
    margin-left: 3px;
    margin-bottom: 30px;
  }

  @media (min-width: consts.$desktop-width) {
    margin-top: 13px;
    margin-left: 5px;
  }
}

.video__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0 6px 38px 8px;

  @media (max-width: consts.$mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: consts.$tablet-width) {
    margin-left: 3px;
    margin-bottom: 90px;
  }

  @media (min-width: consts.$desktop-width) {
    margin-left: 6px;
    margin-bottom: 88px;
  }
}

.video__content {
  text-align: center;

  @media (min-width: consts.$tablet-width) {
    width: 648px;
    height: 500px;
  }
}
