@use "../blocks/consts.scss";
@use "../blocks/mixins.scss";

.video__title {
  @include mixins.large-text;
  text-align: center;
  text-transform: uppercase;
  color: consts.$title-color;
  margin: 0 6px 27px 8px;
}

.video__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0 6px 38px 8px;
}

.video__content {
  text-align: center;
}
