.video__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}

.video__description {
  text-transform: uppercase;
  margin: 0;
}
