@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.page {
  height: 100%;
}

.page__body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  min-width: 320px;
  margin: 0;
}

.page__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100%;
  max-width: 320px;
}
@media (min-width: 768px) {
  .page__container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__container {
    max-width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

.advantages__item {
  position: relative;
}
@media (max-width: 767.9px) {
  .advantages__item {
    margin-top: 33px;
  }
  .advantages__item:last-child {
    margin-bottom: 46px;
  }
}
.advantages__item::before {
  position: absolute;
  content: "";
  top: -8px;
  left: 18.5px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.advantages__item--housing::before {
  background-image: url("../img/house-icon.svg");
}
@media (min-width: 768px) {
  .advantages__item--housing::before {
    width: 77px;
    height: 72px;
    top: 59px;
    left: 89px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--housing::before {
    top: 69px;
    left: calc(50% - 38.5px);
  }
}
.advantages__item--food::before {
  background-image: url("../img/burger-icon.svg");
}
@media (min-width: 768px) {
  .advantages__item--food::before {
    width: 81px;
    height: 68px;
    top: 62px;
    left: 87px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--food::before {
    top: 72px;
    left: calc(50% - 40.5px);
  }
}
.advantages__item--souvenir::before {
  background-image: url("../img/gift-icon.svg");
}
@media (min-width: 768px) {
  .advantages__item--souvenir::before {
    width: 67px;
    height: 75px;
    top: 63px;
    left: 98px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--souvenir::before {
    width: 67px;
    top: 69px;
    left: calc(50% - 33.5px);
  }
}

.advantages__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
  margin-left: 65px;
  margin-bottom: 16px;
  padding: 0;
  color: #000000;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 21px;
    text-align: center;
    margin-bottom: 23px;
    margin-right: 33px;
  }
  .advantages__item--housing .advantages__title {
    padding-top: 158px;
    margin-left: 34px;
  }
  .advantages__item--food .advantages__title {
    padding-top: 156px;
    margin-left: 34px;
  }
  .advantages__item--souvenir .advantages__title {
    padding-top: 153px;
    margin-left: 32px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--housing .advantages__title {
    padding-top: 171px;
  }
  .advantages__item--food .advantages__title {
    padding-top: 168px;
    margin-left: 30px;
  }
  .advantages__item--souvenir .advantages__title {
    padding-top: 171px;
    margin-left: 31px;
  }
}

.advantages__description {
  margin: 0 18px 0 65px;
  padding: 0;
}
@media (max-width: 767.9px) {
  .advantages__description br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__description {
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
    min-width: 190px;
  }
  .advantages__item--housing .advantages__description {
    margin-bottom: 60px;
  }
  .advantages__item--housing .advantages__description br {
    display: none;
  }
  .advantages__item--food .advantages__description {
    margin-bottom: 61px;
  }
  .advantages__item--souvenir .advantages__description {
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--housing .advantages__description {
    margin-bottom: 69px;
  }
  .advantages__item--housing .advantages__description br {
    display: inline;
  }
}

.button {
  border: none;
  background-color: #81b3d2;
  text-decoration: none;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .card {
    display: block;
  }
}

.card__wrapper {
  align-self: baseline;
}
@media (min-width: 768px) {
  .card__wrapper {
    display: flex;
    background-color: #f2f2f2;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .card__wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}

.card__image {
  display: block;
  margin-bottom: 14.5px;
}
@media (min-width: 768px) {
  .card__image {
    width: 100%;
    height: 267px;
    margin-bottom: 0;
  }
  .card:first-child .card__image {
    height: 400px;
  }
}

@media (min-width: 768px) {
  .card__caption {
    margin-top: 5px;
    margin-left: 19px;
  }
}
@media (min-width: 1200px) {
  .card__caption {
    margin-left: 25px;
    margin-top: 0;
  }
  .photos__item:first-child .card__caption {
    margin-top: 5px;
    margin-left: 21px;
  }
}

.card__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .card__title {
    padding-bottom: 5px;
  }
  .photos__item:first-child .card__title {
    padding-bottom: 0;
  }
}

.card__author {
  margin: 0;
  text-transform: none;
  font-weight: 400;
}

.card__likes {
  margin-top: 17px;
}
@media (min-width: 768px) {
  .card__likes {
    margin-top: 14px;
    margin-left: auto;
    margin-right: 21px;
  }
}

.content {
  position: relative;
}
.content::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 54px;
  background-image: url("../img/play-logo.svg");
  top: calc(50% - 27px);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.content__image {
  width: 100%;
  height: 100%;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.copyright__text {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.copyright__logo {
  fill: #000000;
  width: 26.9px;
  height: 34.1px;
}

.feature__advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .feature__advantages-list {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.feature__text-block {
  background-color: #eeeeee;
  padding: 24px 26px;
  text-align: center;
}
.feature__text-block--accent {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 37px 18px;
}
@media (max-width: 767.9px) {
  .features__item--city .feature__text-block {
    position: relative;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .features__item--city .feature__text-block::before {
    position: absolute;
    width: 100%;
    height: 37px;
    content: "";
    background-image: url("../img/features-mobile-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: -1px;
    left: 0;
  }
  .features__item--tourists .feature__text-block {
    padding-bottom: 28px;
    padding-top: 27px;
  }
}
@media (min-width: 768px) {
  .feature__text-block {
    padding: 52px 33px 31px;
  }
  .features__item--road .feature__text-block {
    padding: 41px 33px;
  }
}
@media (min-width: 1200px) {
  .features__item--road .feature__text-block {
    padding: 52px 33px;
  }
}

.feature__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px;
  color: #000000;
}
.feature__text-block--accent .feature__title {
  color: #ffffff;
}
@media (max-width: 767.9px) {
  .feature__title br {
    display: none;
  }
}
@media (min-width: 768px) {
  .feature__title {
    font-size: 21px;
    line-height: 28px;
  }
}

.feature__number {
  margin: 0;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .feature__number {
    margin-bottom: 23px;
  }
}

.feature__description {
  margin: 0;
}
.features__item--city .feature__description br {
  display: none;
}
@media (min-width: 1200px) {
  .features__item--city .feature__description br {
    display: inline;
  }
}
@media (max-width: 1199px) {
  .features__item--bridge .feature__description br {
    display: none;
  }
}
@media (max-width: 767.9px) {
  .features__item--road .feature__description br:nth-child(2) {
    display: none;
  }
}
@media (min-width: 768px) {
  .features__item--road .feature__description br:nth-child(1) {
    display: none;
  }
}
@media (max-width: 767.9px) {
  .features__item--tourists .feature__description br:nth-child(2) {
    display: none;
  }
}
@media (min-width: 768px) {
  .features__item--tourists .feature__description br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .features__item--tourists .feature__description br:nth-child(2) {
    display: inline;
  }
}

.feature__image {
  display: block;
  margin: 0 auto;
  width: auto;
}
@media (min-width: 768px) {
  .feature__image {
    height: 256px;
  }
  .features__item--city .feature__image {
    grid-column: 2/4;
  }
  .features__item--bridge .feature__image {
    grid-column: 1/3;
  }
}

.features {
  text-transform: uppercase;
  padding-top: 34px;
}
@media (min-width: 768px) {
  .features {
    padding-top: 48px;
  }
}
@media (min-width: 1200px) {
  .features {
    padding-top: 60px;
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    grid-template-columns: 256px 256px 256px;
  }
}
@media (min-width: 1200px) {
  .features__list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.features__item {
  position: relative;
}
@media (max-width: 767.9px) {
  .features__item:nth-last-child(-n+2)::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    top: 0;
    left: 5%;
    background-color: #d6d6d6;
  }
}
@media (min-width: 768px) {
  .features__item {
    display: grid;
  }
  .features__item--bridge .feature__image {
    order: 1;
  }
  .features__item--bridge .feature__text-block {
    order: 2;
    grid-column: 3/4;
  }
  .features__item--city, .features__item--bridge {
    grid-column: 1/4;
    grid-template-columns: 256px 256px 256px;
  }
}
@media (min-width: 1200px) {
  .features__item--city, .features__item--bridge {
    grid-column: 1/4;
    grid-template-columns: 400px 400px 400px;
  }
}

.features__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 21px;
    margin-bottom: 29px;
  }
  .features__title br:first-child {
    display: none;
  }
}

.features__description {
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .features__description {
    margin-bottom: 55px;
  }
  .features__description br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .features__description {
    margin-bottom: 44px;
  }
}

.form-group__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .form__group--experience .form-group__list {
    padding: 0 36px;
    flex-direction: row;
  }
  .form__group--attractions .form-group__list {
    margin: 0 84px;
    flex-direction: row;
    column-gap: 32px;
  }
}
@media (min-width: 1200px) {
  .form__group--experience .form-group__list {
    justify-content: space-between;
    column-gap: 28px;
    padding: 0 53px;
  }
  .form__group--attractions .form-group__list {
    margin: 0 45px;
    column-gap: 64px;
  }
}

.form-group__item {
  min-width: 280px;
}
.form__group--attractions .form-group__item {
  min-width: 224px;
}
.form-group__item--phone::after, .form-group__item--mail::after {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  margin-left: -58px;
  background-repeat: no-repeat;
  background-position: center;
}
.form-group__item--phone::after {
  background-image: url("../img/phone.svg");
}
.form-group__item--mail::after {
  background-image: url("../img/mail.svg");
}
@media (min-width: 1200px) {
  .form__group--experience .form-group__item, .form__group--attractions .form-group__item {
    min-width: auto;
  }
}

.form-group__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 767.9px) {
  .form-group__title::before {
    position: absolute;
    content: "";
    top: -24px;
    left: 0;
    height: 1px;
    width: 100vw;
    margin: 0 calc(-50vw + 50%);
    background-color: #e5e5e5;
  }
}
@media (min-width: 768px) {
  .form-group__title {
    position: relative;
    font-size: 21px;
    margin-bottom: 28px;
    width: 100%;
  }
  .form__group--name .form-group__title {
    margin-left: 81px;
    text-align: start;
  }
  .form__group--contacts .form-group__title {
    margin-left: -17px;
    text-align: start;
  }
  .form__group--experience .form-group__title {
    margin-left: auto;
    margin-right: auto;
  }
  .form__group--experience .form-group__title::before, .form__group--attractions .form-group__title::before, .form__group--review .form-group__title::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 1px;
    width: 123px;
    background-color: #dbdbdb;
  }
  .form__group--experience .form-group__title::after, .form__group--attractions .form-group__title::after, .form__group--review .form-group__title::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    height: 1px;
    width: 123px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .form__group--name .form-group__title {
    margin-left: 32px;
    text-align: center;
  }
  .form__group--contacts .form-group__title {
    margin-left: 30px;
  }
  .form__group--experience .form-group__title {
    margin-bottom: 44px;
  }
  .form__group--attractions .form-group__title {
    margin-bottom: 61px;
  }
  .form__group--experience .form-group__title::before, .form__group--experience .form-group__title::after, .form__group--attractions .form-group__title::before, .form__group--attractions .form-group__title::after, .form__group--review .form-group__title::before, .form__group--review .form-group__title::after {
    width: 280px;
  }
}

.form-group__label {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}
.form__wrapper .form-group__label {
  margin-left: 16px;
}

.form-group__input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  box-sizing: border-box;
  width: 280px;
  border: none;
  color: #000000;
  padding: 16px;
  background-color: #f2f2f2;
}
.form-group__input[type=tel], .form-group__input[type=email] {
  padding-right: 60px;
}
.form-group__input--review {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  margin-bottom: 51px;
}
@media (min-width: 768px) {
  .form-group__input--review {
    min-height: 160px;
    margin-bottom: 43px;
  }
}
@media (min-width: 1200px) {
  .form-group__input {
    width: 430px;
  }
  .form-group__input[type=tel], .form-group__input[type=email] {
    width: 402px;
  }
  .form-group__input--review {
    width: 768px;
    margin-bottom: 48px;
  }
}

.form-group__name {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  color: #000000;
  padding: 10px 0 10px 62px;
}

.form-group__mark {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
}
.form__group--experience .form-group__mark {
  border-radius: 50%;
}
.form__group--attractions .form-group__mark {
  border-radius: 4px;
}
.form-group__input[type=checkbox]:checked + .form-group__mark::after {
  position: absolute;
  content: "";
  top: 14px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form-group__input[type=radio]:checked + .form-group__mark::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: calc(50% - 8px + 0px);
  top: calc(50% - 8px);
  background-color: #333333;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .form__wrapper {
    position: relative;
    display: flex;
    gap: 88px;
    margin-bottom: 64px;
  }
  .form__wrapper::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 87%;
    left: calc(50% - 1px);
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .form__wrapper {
    display: flex;
    gap: 128px;
    margin-bottom: 71px;
  }
  .form__wrapper::before {
    left: calc(50% + 13px);
    height: calc(100% + 14px);
  }
}

.form__group {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}
.form__group--name {
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .form__group--name {
    margin-bottom: 0;
  }
}
.form__group--contacts {
  margin-bottom: 59px;
}
@media (min-width: 768px) {
  .form__group--contacts {
    margin-bottom: 0;
  }
}
.form__group--experience {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .form__group--experience {
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .form__group--experience {
    margin-bottom: 73px;
  }
}
.form__group--attractions {
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .form__group--attractions {
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .form__group--attractions {
    margin-bottom: 86px;
  }
}
.form__group--review {
  width: 100%;
}
@media (min-width: 1200px) {
  .form__group--review {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form__submit {
  margin-bottom: 54px;
}
@media (min-width: 768px) {
  .form__submit {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .form__submit {
    width: 768px;
  }
}

.form__button {
  width: 100%;
  padding: 16px;
}
@media (min-width: 768px) {
  .form__button {
    width: 324px;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .form__button {
    width: 384px;
  }
}

.form__footnote {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  margin-top: 3px;
  text-transform: uppercase;
  text-align: end;
}
@media (min-width: 768px) {
  .form__footnote {
    font-size: 14px;
    margin-top: 23px;
    margin-left: auto;
  }
}

.hashtag__text {
  margin-top: 0;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.likes__count {
  position: relative;
  font-weight: 700;
  padding-left: 37px;
}
.likes__count::before {
  position: absolute;
  content: "";
  left: 0;
  top: -4px;
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
}
@media (min-width: 768px) {
  .likes__count::before {
    left: 5px;
  }
}
@media (min-width: 1200px) {
  .likes__count::before {
    background-image: url("../img/like-icon-desktop.svg");
  }
}

.main-container {
  flex-grow: 1;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer {
    padding-left: 60px;
    padding-right: 76px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    padding-left: 119px;
    padding-right: 137px;
  }
}

@media (min-width: 768px) {
  .page-container + .main-footer {
    padding-right: 60px;
  }
  .page-container + .main-footer .main-footer__hashtag {
    margin-right: -9px;
  }
}
@media (min-width: 1200px) {
  .page-container + .main-footer {
    padding-right: 118px;
  }
}

@media (min-width: 768px) {
  .main-footer__hashtag {
    margin-right: 12px;
  }
}

.main-footer__social {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .main-footer__social {
    margin-bottom: 36px;
  }
}

.main-footer__copyright {
  min-width: 128px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .main-footer__copyright {
    margin-bottom: 36px;
  }
}

.main-header {
  position: relative;
}

.main-header__logo-img {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}
.main-header__logo-img--nojs {
  position: static;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .main-header__logo-img {
    z-index: 10;
  }
}

.main-hero {
  text-align: center;
}

.main-hero__image-container {
  position: relative;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: #81b3d3;
}
@media (min-resolution: 2dppx) {
  .main-hero__image-container {
    background-image: url("../img/back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-hero__image-container {
    background-image: url("../img/back-tablet.jpg");
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .main-hero__image-container {
    background-image: url("../img/back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .main-hero__image-container {
    background-image: url("../img/back-desktop.jpg");
  }
}
@media (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-hero__image-container {
    background-image: url("../img/back-desktop@2x.jpg");
  }
}
.main-hero__image-container::before {
  position: absolute;
  width: 100%;
  height: 57px;
  content: "";
  background-image: url("../img/intro-mobile-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: -1px;
  left: 0;
}
@media (min-width: 768px) {
  .main-hero__image-container::before {
    background-image: url("../img/intro-triangle.svg");
    background-size: auto;
    object-fit: contain;
  }
}

.main-hero__image {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 79px;
}
@media (min-width: 768px) {
  .main-hero__image {
    width: 461px;
    height: 350px;
    padding-top: 77px;
    padding-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .main-hero__image {
    width: 459.5px;
    height: 350px;
    padding-top: 78px;
    padding-bottom: 84px;
  }
}

.main-map {
  padding-bottom: 39px;
}
@media (min-width: 768px) {
  .main-map {
    padding-bottom: 36px;
  }
}

.main-map__image {
  display: block;
  margin: 0 auto;
}

.nav {
  position: relative;
  width: auto;
  min-height: 56px;
  background-color: #ffffff;
}
@media (max-width: 767.9px) {
  .nav--nojs {
    z-index: 2;
  }
}
@media (min-width: 768px) {
  .nav {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .nav {
    width: 1200px;
    margin: 0 auto;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 767.9px) {
  .nav--opened .nav__list::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}

@media (max-width: 767.9px) {
  .nav--opened .nav-list__item,
  .nav--nojs .nav-list__item {
    display: block;
  }
}
.nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 20px;
  z-index: 5;
  padding: 28px 30px;
  cursor: pointer;
  background: none;
  background-image: url("../img/icon-menu--closed.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.nav--opened .nav__toggle {
  background-image: url("../img/icon-cross--opened.svg");
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav-list {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  z-index: 3;
}
@media (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    background-color: #ffffff;
    flex-wrap: wrap;
  }
}

.nav--nojs .nav-list {
  position: static;
}

.nav-list__item {
  display: none;
  padding-top: 17px;
  padding-bottom: 11px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
.nav-list__item:first-child {
  border-top: none;
}
.nav-list__item:last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  .nav-list__item {
    display: block;
    min-width: 153px;
    border: none;
    font-size: 14px;
    line-height: 21px;
    padding-top: 18px;
  }
  .nav-list__item:nth-child(2) {
    margin-right: 153px;
  }
}
@media (min-width: 1200px) {
  .nav-list__item {
    min-width: 240px;
  }
  .nav-list__item:nth-child(2) {
    margin-right: 240px;
  }
}

.nav-list__link {
  text-decoration: none;
  color: #ffffff;
  padding: 6px 90px;
}
@media (min-width: 768px) {
  .nav-list__link {
    color: #000000;
    padding: 18px 20px;
  }
  .nav-list__link--current {
    color: #766357;
  }
}

.order {
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .order {
    padding-top: 61px;
    padding-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .order {
    padding-bottom: 67px;
  }
}

.order__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0 29px 20px;
  padding: 0;
  color: #000000;
}
@media (min-width: 768px) {
  .order__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.order__description {
  margin: 0 29px 32px;
}
@media (max-width: 767.9px) {
  .order__description br {
    display: none;
  }
}
@media (min-width: 768px) {
  .order__description {
    margin-bottom: 43px;
  }
}
@media (min-width: 1200px) {
  .order__description {
    margin-bottom: 47px;
  }
}

.order__button {
  display: block;
  box-sizing: border-box;
  padding: 16px 49px;
  margin-right: 18px;
  margin-left: 18px;
  max-width: 458px;
}
@media (min-width: 768px) {
  .order__button {
    margin: 0 auto;
    padding: 14.5px 121px 17.5px;
  }
}

.page-hero {
  text-align: center;
}

.page-hero__image-container {
  position: relative;
  background-color: #81b3d3;
  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 46% -320px;
}
.page-hero__image-container::before {
  position: absolute;
  width: 100%;
  height: 57px;
  content: "";
  background-image: url("../img/intro-mobile-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: -1px;
  left: 0;
}
@media (min-width: 768px) {
  .page-hero__image-container::before {
    background-image: url("../img/intro-triangle.svg");
    background-size: auto;
    object-fit: contain;
  }
}
@media (min-width: 768px) {
  .page-hero__image-container {
    background-position: 50% -225px;
  }
}
@media (min-width: 1200px) {
  .page-hero__image-container {
    background-position: 50% -217px;
  }
}

.page-hero__image {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 67px;
}
@media (min-width: 768px) {
  .page-hero__image {
    padding-top: 95px;
    padding-bottom: 117.4px;
    width: 457px;
    height: 77.6px;
  }
}
@media (min-width: 1200px) {
  .page-hero__image {
    padding-top: 100px;
    padding-bottom: 120px;
    width: 459.5px;
    height: 79.8px;
  }
}

.page-container {
  position: relative;
  flex-grow: 1;
}

.page-container__wrapper {
  margin: 36px 20px 24px;
}
@media (min-width: 768px) {
  .page-container__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 76px;
  }
}
@media (min-width: 1200px) {
  .page-container__wrapper {
    margin-bottom: 120px;
  }
}

@media (min-width: 768px) {
  .form-container {
    margin-top: 64px;
    margin-bottom: 46px;
  }
}
@media (min-width: 1200px) {
  .form-container {
    margin-top: 115px;
  }
}

.form-container__form {
  max-width: 960px;
}

.form-container__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form-container__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .form-container__title {
    margin-bottom: 30px;
  }
}

.form-container__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 53px;
}
@media (min-width: 768px) {
  .form-container__description {
    line-height: 24px;
    margin-bottom: 102px;
  }
}
@media (min-width: 1200px) {
  .form-container__description {
    line-height: 21px;
    margin-bottom: 71px;
  }
}
@media (max-width: 767.9px) {
  .form-container__description br {
    display: none;
  }
}

.photos {
  padding-top: 37px;
  padding-bottom: 45px;
}
@media (min-width: 768px) {
  .photos {
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .photos {
    padding-top: 63px;
    padding-bottom: 48px;
  }
}

.photos__text-block {
  text-align: center;
  margin-bottom: 63px;
}
@media (min-width: 768px) {
  .photos__text-block {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .photos__text-block {
    margin-bottom: 89px;
  }
}

.photos__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .photos__title {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.photos__description {
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 767.9px) {
  .photos__description br {
    display: none;
  }
}

.photos__list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .photos__list {
    display: grid;
    grid-template-columns: 324px 324px;
  }
}
@media (min-width: 1200px) {
  .photos__list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.photos__item {
  position: relative;
  margin: 50px 0;
}
@media (max-width: 767.9px) {
  .photos__item::before {
    position: absolute;
    content: "";
    top: -24px;
    height: 1px;
    width: 100vw;
    margin: 0 calc(-50vw + 50%);
    background-color: #e5e5e5;
  }
  .photos__item:last-child::after {
    position: absolute;
    content: "";
    bottom: -27px;
    height: 1px;
    width: 100vw;
    background-color: #e5e5e5;
  }
}
@media (min-width: 768px) {
  .photos__item {
    margin: 0;
  }
  .photos__item:nth-child(2n+1):not(:first-child) {
    background-color: #eaeaea;
  }
}
.photos__item:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .photos__item:first-child {
    grid-column: 1/-1;
  }
}
.photos__item:last-child {
  margin-bottom: 0;
}

.social__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 6px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 12px;
}

.social__logo {
  fill: #ffffff;
}

.video__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 6px 27px 8px;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 30px;
    margin-top: 11px;
    margin-left: 3px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .video__title {
    margin-top: 13px;
    margin-left: 5px;
  }
}

.video__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0 6px 38px 8px;
}
@media (max-width: 767.9px) {
  .video__description br {
    display: none;
  }
}
@media (min-width: 768px) {
  .video__description {
    margin-left: 3px;
    margin-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .video__description {
    margin-left: 6px;
    margin-bottom: 88px;
  }
}

.video__content {
  text-align: center;
}
@media (min-width: 768px) {
  .video__content {
    width: 648px;
    height: 500px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */